@import "common/common";
@import "components/forms";
@import "components/buttons";
@import "components/popups";

body{
  transition: padding-left 0.5s;
  &.ActiveSideBar {
    padding-left:250px;
    .SideBar {left:0px;
      .ChangeDisplay {/* Icon open */}
    }
  }
}

.wrap{

    // phone
    @include s-text;

    // tablet
    @include breakpoint($mediumResolution){
        @include xs-text;
    }

    // desktop
    @include breakpoint($bigResolution){
        @include xs-text;

    }
}

.SideBar {
  position: fixed;
  left: -250px;
  top: 0px;
  width: 250px;
  height: 100%;
  padding: 20px;
  background: $SidebarBackground;
  color: $SidebarTextColor;
  z-index: 1;
  transition: left 0.500s;

  a {color:#fff}

  .ChangeDisplay {width:40px;height:40px;background:$SidebarBackground;position:absolute;right:-35px;top:10px;border-radius: 5px;cursor: pointer;
    /* Icon Close */
  }

  .ShowUser {
    width:100%;line-height:120%;display:flex;align-items:center;margin-bottom:20px;
    .Avatar {border-radius:25px;min-width:40px;height:40px;background-position:center;background-size:cover;}
    p {padding-left: 20px;width:170px;line-height:20px}
    a {font-size:16px;display:block}
    span {opacity:0.5; width:180px}
  }

  .ShowUserMenu {}

  button {
    width:100%;height:40px;margin:10px 0px;font-weight: normal;
  }

  .MenuApp {
    font-size: 16px;

    .Selected:after{
      width:calc(100% + 40px);
    }
  }
}

.Header {
  background:linear-gradient(120deg,#6a75c7 25%,#6e4593 85%);
  color: #fff;
  padding: 20px 60px;

  .CreateRandom {
    background:rgba(0,0,0,.15);
    position:absolute;
    right: 60px;
    top:20px;
    padding: 10px;
    border-radius: 5px;
    transition: transform .5s ease,background-color .3s ease;
    &:hover {
      background-color:rgba(0,0,0,.30);
      cursor: pointer;
    }
  }
}

.Login {
  width: 250px;
  input {width:100%;}
}

.More {
  width: 80px;
  height: 80px;
  border: 3px dashed #fff;
  border-radius: 5px;
  position:relative;
  margin-bottom: 5px;
  font-size: 80px;
  display:flex;justify-content: center;align-items: center;
  &:hover{
    border-style: solid;
  }
}
